<div class="container my-5">
    <div class="row">
        <div class="col my-3">
            <div>
                <p id="messageLogs"></p>
            </div>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" id="chatBox"></textarea>
            </div>
        </div>

    </div>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/chat.js"></script>